<!DOCTYPE html>
<html lang="en">
<%- include partials/header %>
<body>
  <div class="main-cont">
    <div class="inner-container">
      <a href="/" class="btn btn-secondary">Logout</a>
    <div>
      <h1 name='userna' ><%= user.username %></h1>
    </div>
    <a href="/profile/newblog"><button>NEW BLOG</button></a>
    <div>
      <% usrblg.slice().reverse().forEach(function(items){ %>
        <div class="blog-container">
        <h2 class="title"><%= items.title %></h2>
        <p class="date"><%= items.date %></p>
        <p class="username"><%= items.username %></p>
        <p class="content"><%= items.blog_cont %></p>
        </div>
      <% }) %>
      </div>
    </div>
  </div>
</body>
</html>